/* login */
.body_login{
	margin : 0;
	background-image: url('/background/walpaper.jpg');
	background-size: cover;
}
.login{
	position: relative;
	width: 300px;
	height: 340px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 0 20% 0 20%;
	box-shadow: 5px 5px 5px rgba(0,0,0, 0.7);
	transition: 1s;
}
.login:hover{
	box-shadow: 7px 7px 5px rgba(0,0,0, 0.7);
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 20% 0 20% 0;
}
#login_brand:hover{
	filter: drop-shadow(7px 7px 5px black);
}
.row-login{
	margin-top: 130px;
}
.form{
	margin-top: 5px;
	padding: 0 20px;
}
hr{
	width: 90%;
}
.shadow{
	filter: drop-shadow(5px 5px 2px rgba(0,0,0, 0.5));
	transition: 1s;
}
.shadow:hover{
	filter: drop-shadow(-5px -5px 2px rgba(0,0,0, 0.5));	
}